@import "/styles/variables.less";
@import "./fontFaces.less";

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
	font-family: "gg sans";
	margin: 0px;
	padding: 0px;
}

body {
	overflow-x: hidden;
}

// Css for authenticated part
#app {
	max-height: 100vh;
	height: 100vh;
	min-height: 100vh;
	max-width: 100vw;
	width: 100vh;
	min-width: 100vw;
	overflow: hidden;
	background: #36393f;
}

// Css for windows website part
#window {
}

// Modal de prévention de copie du site officiel discord
.discord_clone_warning {
	.ant-modal-content {
		border-radius: 10px;
		.ant-modal-header {
			border-radius: 10px 10px 0px 0px;
			.ant-modal-title {
				font-weight: 600;
			}
		}

		.ant-modal-footer {
			button {
				border-radius: 5px;
				span {
					font-weight: 500;
				}
			}
		}
	}
}

// Antd custom styles
.notification {
	&.notification-error {
		background: var(--danger);
	}

	&.notification-warning {
		background: var(--warning);
	}

	&.notification-success {
		background: var(--sucess);
	}

	&.notification-custom {
		// Title
		.ant-notification-notice-message {
			color: white;
		}

		// Message
		.ant-notification-notice-description {
			color: white;
		}

		// Croix de fermeture
		.ant-notification-notice-close-icon {
			color: white;
		}
	}
}

// Popover au survol d'un serveur dans la liste des serveurs
.server-popover {
	.ant-tooltip-inner {
		border-radius: 5px;
		font-weight: 500;
		font-size: 14px;
		font-family: "gg sans";
	}
}

// Modal de creations d'un serveur
.create-server-modal {
	.step-container {
		flex-direction: column;
		transition-property: opacity, max-height;
		transition-duration: 1s;
		max-height: 0px;
		background: transparent;
		opacity: 0;

		&.selected-state {
			max-height: 550px;
			background: transparent;
			opacity: 1;
		}
	}

	.ant-modal-content {
		border-radius: 5px;
		width: 440px;
		max-width: 440px;
		min-width: 440px;
		overflow: hidden;
	}

	.ant-modal-body {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding: 24px 0px 0px 0px;
		background: transparent;

		.body {
			padding: 0px 24px 0px 24px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: transparent;

			h2 {
				font-weight: bold;
				font-size: 24px;
				margin-bottom: 0px;
			}

			.description {
				text-align: center;
				color: #4f5660;
				font-weight: 500;
			}

			.ant-form-item {
				width: 100%;

				.ant-form-item-label {
					padding-bottom: 5px;
					label {
						color: #4f5660;
						font-weight: bold;
						font-size: 12px;
						text-transform: uppercase;
					}
				}

				.ant-input {
					border: none;
					background-color: #e3e5e8;
					font-weight: 600;
					padding: 10px;
					border-radius: 5px;
					color: hsl(210, calc(1 * 9.8%), 20%);

					&:focus {
						box-shadow: none;
					}
				}
			}

			.upload-server-picture {
				display: flex;
				margin: 10px 0px;
				align-items: center;
				justify-content: center;

				.ant-upload {
					cursor: pointer;

					.server-picture {
						width: 80px;
						height: 80px;
						border-radius: 50%;
						overflow: clip;
					}
				}
			}

			#buttons-container {
				display: flex;
				flex-direction: column;
				width: 100%;
				margin-bottom: 10px;

				h3 {
					text-transform: uppercase;
					font-weight: 600;
					font-size: 12px;
					margin: 5px 0px;
				}

				button {
					display: flex;
					align-items: center;
					background: transparent;
					border: 1px solid rgba(106, 116, 128, 0.24);
					margin-bottom: 8px;
					border-radius: 8px;
					cursor: pointer;
					width: 100%;
					padding: 8px 16px;

					span {
						font-weight: 600;
						font-size: 16px;
						color: #2e3338;
						margin-left: 10px;
					}

					.fa-angle-right {
						margin-left: auto;
						font-size: 16px;
						color: #2e3338;
					}

					&:hover {
						background: rgba(106, 116, 128, 0.16);
					}
				}
			}
		}

		.fa-xmark {
			position: absolute;
			color: #a7abb0;
			font-size: 24px;
			top: 12px;
			right: 16px;
			cursor: pointer;
			transition: 0.2s;

			&:hover {
				color: var(--dark-not-black);
			}
		}

		.footer {
			background: #f2f3f5;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 24px 24px;
			border-radius: 5px;

			h3 {
				font-weight: 600;
				font-size: 20px;
				margin-bottom: 0px;
			}

			button {
				width: 100%;
				margin-top: 5px;
				background-color: #6a7480;
				transition: 0.2s;
				padding: 8px 0px;
				height: max-content;
				border-radius: 3px;
				cursor: pointer;

				&:hover {
					background-color: #505862;
				}
			}

			.back-btn {
				width: max-content;
				padding: 0px;
				font-size: 14px;
				border: none;
				font-weight: 500;
				margin-right: auto;
				background: transparent;
				cursor: pointer;

				&:hover {
					background: transparent;
				}
			}
		}

		.footer-finish {
			background: #f2f3f5;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
			padding: 24px 24px;
			border-radius: 5px;

			.submit-btn {
				border-radius: 5px;
				width: 96px;
				height: 38px;

				.ant-spin {
					height: 20px;
					i {
						background-color: white;
					}
				}
			}

			.back-btn {
				width: max-content;
				padding: 0px;
				font-size: 14px;
				border: none;
				font-weight: 500;
				background: transparent;
				cursor: pointer;

				&:hover {
					background: transparent;
				}
			}
		}
	}

	.ant-modal-footer {
		display: none;
	}
}

// Modal utilisée pour afficher des informations quelquonque dans l'app
.modal-information {
	width: max-content;
	border-radius: 5px;

	.ant-modal-content {
		background: #36393f;
		padding: 0px;
		width: max-content;

		.ant-modal-body {
			padding: 0px;
			width: max-content;
		}

		.modal-container {
			display: flex;
			flex-direction: column;
			padding: 20px 16px;
			width: max-content;

			h2 {
				text-transform: uppercase;
				text-align: center;
				color: white;
				font-size: 16px;
				margin-bottom: 20px;
			}

			p {
				text-align: center;
				color: white;
				color: #dcddde;
				font-size: 16px;
				max-width: 408px;
				margin: 0px auto;
				line-height: 1.2;
			}
		}

		.modal-footer {
			display: flex;
			padding: 16px;
			background: #2f3136;
			border-radius: 5px;

			button {
				width: 100%;
				text-align: center;
				height: max-content;
				padding: 10px 0px;
				font-size: 16px;
			}

			.footer-multiple-action {
				margin-left: auto;
				width: max-content;

				button {
					width: max-content;
					height: max-content;
					padding: 8px 16px;
					font-size: 14px;
					border: none;
					background: transparent;
					color: white;
					cursor: pointer;

					&:hover {
						text-decoration: underline;
					}

					&.danger {
						background: #d83c3e;

						&:hover {
							background: #a12d2f;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	&.title-bold {
		h2 {
			font-weight: bold !important;
		}
	}

	&.title-bigger {
		h2 {
			font-size: 20px !important;
		}
	}

	&.align-left {
		h2,
		p {
			text-align: left !important;
		}
	}

	&.no-text-transform {
		h2 {
			text-transform: none !important;
		}
	}
}

// Classe cachant toutes les composant de base d'une modale antd
.custom-modal {
	.ant-modal {
		width: max-content !important;
		height: max-content !important;

		.ant-modal-content {
			background: transparent;
			border-radius: 10px;

			.ant-modal-close {
				display: none;
			}

			.ant-modal-body {
				padding: 0px;
				background: transparent;
				border-radius: 10px;
			}

			.ant-modal-footer {
				display: none;
			}
		}
	}
}

// Classe CSS pour les badges
.ant-badge {
	width: 100%;

	.ant-badge-count {
		background: #ee3e42;
		box-shadow: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		box-sizing: content-box;
		border: none;

		.ant-scroll-number-only {
			height: max-content;

			.current {
				font-size: 12px;
			}
		}
	}
}
